@import url('./global.css');

body {
    background-color: black;
    background-image: linear-gradient(to bottom, #000000 4%, #31a9dd2d, #000000 20%);
}
.slogan {
    margin: 0;
    height: 520px;
    background-image: url('../images/background-code.png');
    background-position: center bottom;
    background-size: cover;
}

.slogan .content {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    width: 510px;
}

.slogan .content .image {
    margin-top: 25px;
}

.slogan .content h1 {
    font-style: normal;
    color: #31A8DD;
    font-weight: 900;
    font-size: 40px;
}

.slogan .content p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
    color: white;
    margin: 20px 0;
    line-height: 1.4rem;
}

.slogan .content button {
    padding: 10px;
    margin-top: 15px;
    font-weight: 800;
    letter-spacing: 3px;
    width: 300px;
    max-width: 300px;
    max-height: 80px;
    margin-left: 100px;
    cursor: pointer;
    background-image: linear-gradient(#3BA1CD, #1572B7);
    transition: all 1s;
    border-radius: 10px;
}
.slogan .content button:hover {
    background-color: #31A8DD;
    color: #0f558a;
    transition-duration: .3s;
    background-image: none;
    font-size: 15px;
    text-shadow: 1px 1px 9px var(--cor-cinza);
}

hr {
    color: white;
}

/* background-image: linear-gradient(#000000, #31A8DD); <- FOOTER FUNDO*/